/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    border-radius: 50%;
}

/* BACKGROUND PAGE */
.background-page {
    background-image: linear-gradient(180deg, #dddbd1, #d1dadb);
    height: 100vh;
    position: relative;
}

.bg-green {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #009587;
}

/* Container Input  */
.container {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: calc( 100vh - 5% );
    background-color: white;
}

/* Box Message */
.box-messages {
    width: 100%;
    height: 100%;
    display: flex;
    min-width: 900px;
}

/* Contacts & Messages */

/* Contacts */
.contacts {
    min-width: 35%;
    height: 100%;
    border-right: 1px solid lightgray;
}

/* info-user */
.info-user {
    background-color: #eaeaea;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.images-user {
    display: flex;
    align-items: center;
}

.images-user img {
    width: 45px;
}

.images-user span {
    font-size: 15px;
    font-weight: 500;
    padding-left: 5px;
}

.icons-user {
    padding-right: 8px;
}

.icons-user i {
    font-size: 18px;
    color: #b1b1b1;
    padding: 0 5px;
    cursor: pointer;
}

/* notifications */
.notifications {
    background-color: #8edafb; 
    padding: 18px 15px;
    display: flex;
}

.bell-icon {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    color: #8edafb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications h5,
.notifications h6 {
    font-weight: 500;
    padding-left: 10px;
}

h6 a {
    color: #537b8c;
}

/* filter */
.filter {
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
    align-items: center;
}

.filter input {
    width: 100%;
    border: none;
    padding: 5px;
}

.filter label {
    padding: 3px;
    background-color: white;
    border-right: none;
    color: gray
}

.filter input:focus,
.input-text input:focus {
    outline: none;
}

/* contact */
.contact {
    height: calc( 100% - 171px );
    overflow-y: auto;
}

.contact .menu-contact {
    list-style-type: none;
}

.menu-contact .sing-name-contact {
    padding-bottom: 15px;
    font-size: 13px;
    padding-left: 15px; 
}

.single-contact {
    padding: 5px 10px;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
}

.single-contact:hover {
    background-color: #e9ebea;
}

/* Messages */
.messages {
    min-width: 65%;
    height: 100%;
}

.images-user {
    position: relative;
}

.images-user .last-access {
    font-size: 12px;
    color: #b1b1b1;
    font-weight: 500;
    padding-left: 5px;
}

/* main-message */
.main-message {
    height: calc( 100% - 105px );
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
    padding: 30px 60px;
}

/* input-text */
.input-text {
    background-color: #f5f5f5;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input-text input {
    padding: 10px;
    font-size: 12px;
    border: none;
    width: 80%;
}

.input-text i {
    color: #b1b1b1;
    cursor: pointer;
    font-size: 18px;
}

.main-message .menu {
    list-style-type: none;
}

.sent, 
.received {
    padding: 15px 10px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 10px;
    position: relative;
    width: 250px;
    height: auto;
    margin: 10px 0;
}

.received {
    background-color: white;
}

.sent {
    left: calc( 100% - 250px );
    background-color: #d5f9ba;
}

.time-text {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 10px;
    color: rgb(173, 170, 170);
}

.courentchat {
    background-color: lightgray;
}

/* SCROLLBAR */
::-webkit-scrollbar{
    width:0.8em;
    height:0.8em;
    background: #eaeaea;
    margin-right: 10px;
}
::-webkit-scrollbar:hover{
    background-color: #eaeaea ;
    border: none;
}
::-webkit-resizer{
    border-radius: 4px;
    background-color:#ccc;
    border: none;
}
::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width:0.8em;
    border-radius:4px;
    background-color: gray;
    border: none;
}
::-webkit-scrollbar-thumb:hover{
    background-color: grey;
    border: none;
}
::-webkit-scrollbar-thumb:active{
    background-color:grey;
    border: none;
}

/* MILESTONE 5 (opzionale) */

.option-mex i {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 10px;
    padding-bottom: 45px;
    color: rgb(173, 170, 170);
    display: none;
}

.sent:hover .option-mex, 
.received:hover .option-mex {
    display: block;
    font-size: 13px;
}

.sent:hover .option-mex i, 
.received:hover .option-mex i {
    display: block;
}


.dropdown {
    background-color: white;
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 1;
    box-shadow: 0 0 12px 1px gray;
}

.dropdown li {
    padding: 12px 10px;
    color: black;
    cursor: pointer;
}
.dropdown li:last-child {
    border-top: 1px solid lightgray;
}

.images-user .last-mex {
    color: grey;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    left: 55px;
    top: 60%;
}

.images-user .last-date {
    color: grey;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    right: 2px;
    top: 5px;
}
