<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Boolzapp</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
    
    <div id="root">
        <!-- BACKGROUND PAGE -->
        <div class="background-page">
            <span class="bg-green"></span>

            <!-- Container Input  -->
            <div class="container">

                <!-- Box-message -->
                <section class="box-messages">

                    <!-- Contacts -->
                    <div class="contacts">
                        
                        <!-- info-user -->
                        <div class="info-user">

                            <div class="images-user">
                                <img src="img/avatar_5.jpg" alt="avatar1">
                                <span>Michele</span>
                            </div>

                            <div class="icons-user">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <!-- end info-user -->

                        <!-- notifications -->
                        <div class="notifications">

                            <span class="bell-icon">
                                <!-- inizio fuori dalle milestone -->
                                <i :class="bell"></i>
                                <!-- fine - fuori dalle milestone -->
                            </span>

                            <div>
                                <h5>Ricevi notifiche di nuovi messaggi</h5>
                                <!-- inizio fuori dalle milestone -->
                                <h6><a href="#" @click="toggleNotice">{{ notice + ' notifiche desktop' }}</a></h6>
                                <!-- fine - fuori dalle milestone -->
                            </div>
                              
                        </div>
                        <!-- notifications -->

                        <!-- filter -->
                        <div class="filter">
                            <label for="filt-text"><i class="fas fa-search"></i></label>
                            <input id="filt-text" type="text"
                             placeholder="Cerca o inizia una nuova chat"
                             v-model="contactFilter"
                             @keyup="filterContact">
                        </div>
                        <!-- end filter -->

                        <!-- contact -->
                        <div class="contact">

                            <ul class="menu-contact">

                                <!-- single-contact -->
                                <li 
                                v-for="(info, index) in contacts " 
                                v-if="info.visible"
                                class="single-contact "
                                :class="{ 'courentchat': index == showTextContact}"
                                @click="showChat(index)">
                                    
                                    <div class="images-user">
                                        <img :src="info.avatar" :alt="info.name">
                                        <span class="sing-name-contact">{{ info.name }}</span>
                                        <span class="last-mex" v-if="info.messages.length > 0">{{ info.messages[info.messages.length-1].text.substring(0, 25) }}...</span>
                                        <span class="last-date">{{ info.messages[info.messages.length-1].date }}</span>
                                    </div>
                                    
                                </li>
                                <!-- end single-contact -->

                            </ul>
                        </div>
                        <!-- end contact -->
                        
                    </div>
                    <!-- End Contacts -->
    
                    <!-- Messages -->
                    <div class="messages">
                        
                        <!-- info-user -->
                        <div class="info-user">

                            <!-- images-user -->
                            <div class="images-user">
                                <img :src="`${contacts[showTextContact].avatar}`" :alt="contacts[showTextContact].name">

                                <div>
                                    <span>{{ contacts[showTextContact].name }}</span>
                                    <div class="last-access">{{ contacts[showTextContact].time }}</div>
                                </div>
                                
                            </div>
                            <!-- end images-user -->

                            <!-- icons-user -->
                            <div class="icons-user">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                            <!-- end icons-user -->

                        </div>
                        <!-- end info-user -->

                        <!-- main-message -->
                        <div class="main-message">

                            <ul class="menu">
                        
                                <!-- single-message -->
                                <li
                                 v-for="(mex, index) in contacts[showTextContact].messages" 
                                 :class="mex.status">
                                    {{ mex.text }}
                                    
                                    <span class="time-text">{{ mex.date }}</span>
                                    <span class="option-mex" :class="{'show': mex.active }">
                                        <i class="fas fa-chevron-down" @click="activeOptMenu(index)"></i>
    
                                        <div class="dropdown" :class="{'show': mex.active }">

                                            <ul class="menu">

                                                <li>Info Messaggio</li>

                                                <li @click="deleteMessage(index)">Cancella Messaggio</li>

                                            </ul>
                                        </div>

                                    </span>
                                </li>
                                <!-- end single-message -->

                            </ul>
                            
                        </div>
                        <!-- end main-message -->

                        <!-- input-text -->
                        <div class="input-text">

                            <i class="far fa-smile"></i>
                            <!-- input text in messages -->
                            <input type="text" placeholder="Scrivi un messaggio"
                             v-model="newMessage"
                             @keyup.enter="addNewMessages">
                             <!-- end input text in messages -->
                            <i class="fas fa-microphone"></i>
                        </div>
                        <!-- end input-text -->

                    </div>

                </section>
                <!-- End Box-message -->

            </div>
            <!-- End Container Input  -->
                     
        </div>
        <!-- END BACKGROUND PAGE -->
    </div>
    
    
    <!-- DAY.JS -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>