<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Boolzapp</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
    
    <div id="root">
        <!-- BACKGROUND PAGE -->
        <div class="background-page">
            <span class="bg-green"></span>

            <!-- Container Input  -->
            <div class="container">

                <!-- Box-message -->
                <section class="box-messages">

                    <!-- Contacts -->
                    <div class="contacts">
                        
                        <!-- info-user -->
                        <div class="info-user">

                            <div class="images-user">
                                <img src="img/avatar_5.jpg" alt="avatar1">
                                <span>Michele</span>
                            </div>

                            <div class="icons-user">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <!-- end info-user -->

                        <!-- notifications -->
                        <div class="notifications">

                            <span class="bell-icon">
                                <i class="fas fa-bell-slash"></i>
                            </span>

                            <div>
                                <h5>Ricevi notifiche di nuovi messaggi</h5>
                                <h6><a href="#">Attiva notifiche desktop</a></h6>
                            </div>
                              
                        </div>
                        <!-- notifications -->

                        <!-- filter -->
                        <div class="filter">
                            <input type="text" placeholder=" &#xF002;     Cerca o inizia una nuova chat" style="font-family:Arial, FontAwesome">
                        </div>
                        <!-- end filter -->

                        <!-- contact -->
                        <div class="contact">

                            <ul class="menu-contact">

                                <!-- single-contact -->
                                <li 
                                v-for="(info, index) in contacts" 
                                class="single-contact "
                                :class="info.chatActive"
                                @click="showChat(index)">
                                    
                                    <div class="images-user">
                                        <img :src="info.avatar" alt="avatar1">
                                        <span class="sing-name-contact">{{ info.name }}</span>
                                    </div>

                                </li>
                                <!-- end single-contact -->

                            </ul>
                        </div>
                        <!-- end contact -->
                        
                    </div>
                    <!-- End Contacts -->
    
                    <!-- Messages -->
                    <div class="messages">
                        
                        <!-- info-user -->
                        <div class="info-user">

                            <div class="images-user">
                                <img :src="`${contacts[showTextContact].avatar}`" alt="avatar1">

                                <div>
                                    <span>{{ contacts[showTextContact].name }}</span>
                                    <div class="last-access">Ultimo accesso oggi alle {{ contacts[showTextContact].time }}</div>
                                </div>
                                
                            </div>

                            <div class="icons-user">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <!-- end info-user -->

                        <!-- main-message -->
                        <div class="main-message">

                            <ul class="menu">

                                <li
                                 v-for="(mex, index) in contacts[showTextContact].messages" 
                                 :class="{ 'sent': mex.status == 'sent' , 'received': mex.status == 'received'}">
                                    {{ mex.text }}
                                    <span class="time-text">{{ mex.date }}</span>
                                </li>


                            </ul>

                        </div>
                        <!-- end main-message -->

                        <!-- input-text -->
                        <div class="input-text">
                            <i class="far fa-smile"></i>
                            <input type="text" placeholder="Scrivi un messaggio">
                            <i class="fas fa-microphone"></i>
                        </div>
                        <!-- end input-text -->

                    </div>

                </section>
                <!-- End Box-message -->

            </div>
            <!-- End Container Input  -->
                     
        </div>
        <!-- END BACKGROUND PAGE -->
    </div>
    
    
        <!-- DAY.JS -->
        <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>